@font-face {
  font-family: 'Open Sans';
  src: url('opensans-regular-webfont.woff2') format('woff2'), url('opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  block-size: 100%;
  color-scheme: light dark;
}

:root {
  --dark_base: oklch(0.20, 0.1, 142);
  --mid_base: oklch(0.48, 0.17, 142);
  --light_base: oklch(0.64, 0.27, 142);
  --black_base: oklch(0.05, 0.0, 142);
  --white_base: oklch(0.95, 0.0, 142);

  --dark: oklch(from var(--dark_base) l c h);
  --mid: oklch(from var(--mid_base) l c h);
  --light: oklch(from var(--light_base) l c h);
  --black: oklch(from var(--black_base) l c h);
  --white: oklch(from var(--white_base) l c h);

  --headerFontSize: min(5vw, 40px);
  --headerHeight: calc(var(--headerFontSize) + 60px);
}

@media(prefers-color-scheme: dark) {
  :root {
    --dark: oklch(from var(--light_base) l c h);
    --mid: oklch(from var(--mid_base) (1-l) c h);
    --light: oklch(from var(--dark_base) l c h);
    
    --black: oklch(from var(--white_base) l c h);
    --white: oklch(from var(--black_base) l c h);
  }
}

body {
  font-family: 'Open Sans';
  color: var(--black);
  background: var(--light);
  text-align: center;
  vertical-align: middle;
  padding: 0;
  margin: 0;
}

form {
  font-weight: bold;
}

form span {
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

.bold {
  font-weight: bold;
}

.header {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: var(--headerHeight);
  z-index: 2;
}

.header div {
  background: var(--dark);
  color: var(--light);
  font-size: var(--headerFontSize);
  font-weight: bold;
  text-align: center;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  display: table;
}

.header div p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.body {
  /*background-color: var(--black);*/
  position: absolute;
  left: 0px;
  top: calc(var(--headerHeight) + 10px);
  width: 100%;
  height: auto;
  z-index: 3;
}

/* ----- OTHER ----- */

select {
  border-width: 1px;
  border-color: var(--mid);
  border-style: outset;
  border-radius: 3px;
  position: relative;
  width: auto;
  height: auto;
  color: var(--black);
  background: var(--white);
}

input {
  border-width: 1px;
  border-color: var(--mid);
  border-style: outset;
  border-radius: 3px;
  position: relative;
  width: auto;
  height: auto;
  color: var(--black);
  background: var(--white);
}

button {
  border-width: 1px;
  border-color: var(--mid);
  border-style: outset;
  border-radius: 3px;
  position: relative;
  width: auto;
  height: auto;
  color: var(--black);
  background: var(--white);
  place-items: center;
}

button div {
  display: table;
  width: 100%;
  height: 100%;
}

button div p {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

button:hover,
button:focus {
  border-width: 1px;
  border-color: var(--mid);
  border-style: inset;
  border-radius: 3px;
  /* background: linear-gradient(180deg, color-mix(in oklab, var(--light) 40%, var(--white)) 0%, var(--white) 100%); */
  position: relative;
  width: auto;
  height: auto;
}

button:active {
  border-width: 1px;
  border-color: var(--dark);
  border-style: inset;
  border-radius: 3px;
  position: relative;
  width: auto;
  height: auto;
}

textarea {
  width: 95%;
}